<a href="https://colab.research.google.com/github/awaiskhan005/DATA-SCIENCE-AND-AI-/blob/main/AMIT_ARROR_STOKC_PREDICTION_PROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('/content/sample_data/stock_data_last_6_months.csv')

In [3]:
df

,Datetime,Open,High,Low,Close,Adj Close,Volume
0,2024-07-30 09:15:00+05:30,3039.699951,3039.699951,3028.250000,3030.250000,3030.250000,0
1,2024-07-30 09:16:00+05:30,3033.699951,3034.649902,3030.899902,3030.899902,3030.899902,54667
2,2024-07-30 09:17:00+05:30,3030.750000,3031.149902,3028.250000,3028.949951,3028.949951,16507
3,2024-07-30 09:18:00+05:30,3031.600098,3032.000000,3030.500000,3031.149902,3031.149902,23502
4,2024-07-30 09:19:00+05:30,3031.149902,3031.250000,3028.899902,3028.949951,3028.949951,15744
...,...,...,...,...,...,...,...
6731,2024-08-23 15:25:00+05:30,2999.750000,3001.350098,2999.050049,2999.050049,2999.050049,37205
6732,2024-08-23 15:26:00+05:30,2999.699951,3000.649902,2998.949951,2998.949951,2998.949951,20315
6733,2024-08-23 15:27:00+05:30,2998.949951,3001.000000,2998.050049,2999.600098,2999.600098,27721
6734,2024-08-23 15:28:00+05:30,3000.000000,3002.000000,2999.000000,2999.000000,2999.000000,24266
6735,2024-08-23 15:29:00+05:30,3000.000000,3001.449951,2996.850098,2999.949951,2999.949951,13074

In [5]:
df.isnull().sum()

Datetime     0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64